body {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url(./images/back-ground-image.jpg);
  background-size: 100%;
}

.menu {
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  padding: 5px;
  background-image: url(./images/menu.jpg);
  background-size: 100%;
  background-position: right;
}
li {
  list-style-type: none;
  align-items: center;
  font-size: 1.2em;
  color: aliceblue;
}

ul {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: rgb(44, 82, 19);
  margin-top: 10px;
}

h1:hover {
  font-size: 3em;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

#your-choice, #computer-choice {
  width: 70px;
  height: 70px;
  border: solid 3px #999;
  border-radius: 8px;
  font-size: 50px;
}

h2 {
  color: navy;
}

.choice-container {
  width: 100px;
  height: 100px;
  border: 4px solid #3498db;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #3498db;
  background-color: #ecf0f1;
}

.vs {
  color: #160b58;
  font-size: 24px;
  margin: 0 20px;
  font-weight: bold;
}

.choices {
  margin-top: 60px;
}

.choice {
  font-size: 20px;
  padding: 15px 25px;
  margin: 0px 15px;
  cursor: pointer;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}

.choice:hover {
  font-size: 2em;
}

.result {
  margin-top: 30px;
  font-size: 20px;
  color: navy;
  font-weight: bold;
}

.reset{
  background-color: #3498db;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-right: 5em;
  width: 7em;
  height: 2.5em;
  border-radius: 8px;
}
img {
  width: 1.2em;
  height: 1.2em;
}

#user-score, #computer-score {
  color: rgb(148, 41, 41);
  font-size: 1.5em;
  font-weight: bold;
}

.choice-button {
  margin-top: 20px; 
}

.winner {
  font-size: 1.5em;
  font-weight: bold; 
}